Repository balena-io-modules/node-balena-lint: changes, and which lint-staged commands are due for each by the changed paths.
All: balena-lint --fix, balena-lint --tests

Enable typescript strict mdoe
  lib/balena-lint.ts
  tsconfig.json
Due: balena-lint --fix

Update target to es2019 to match nodejs 12 support
  tsconfig.json
Due: none

v6.1.1
  CHANGELOG.md
  package.json
Due: none

Reorder lint rules alphabetically in config/tslint.json
  config/tslint.json
Due: none

Add '-t tsconfig.json' flag and 'no-floating-promises' rule
  .lintstagedrc
  README.md
  config/tslint.json
  lib/balena-lint.ts
  lib/mocha-tests-lint.ts
  package.json
Due: balena-lint --fix

v6.2.0
  CHANGELOG.md
  package.json
Due: none

Fix folder symbolic link traversing in Windows
  lib/balena-lint.ts
Due: balena-lint --fix

v6.2.1
  CHANGELOG.md
  package.json
Due: none

Switch to flowzone
  .github/workflows/flowzone.yml
  package.json
Due: none

v6.2.1
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Update TypeScript to 5.0.2
  package.json
Due: none

v6.2.2
  .versionbot/CHANGELOG.yml
  CHANGELOG.md
  package.json
Due: none

Move to ESLint
  .eslintrc.js
  .lintstagedrc
  README.md
  config/.eslintrc-prettier.js
  config/.eslintrc.js
  config/tslint-prettier.json
  config/tslint.json
  lib/balena-lint.ts
  package.json
  tsconfig.test.json
  tslint.json
Due: balena-lint --fix

Reduce custom rules in favor of typescript & eslint/recommended
  config/.eslintrc-prettier.js
  config/.eslintrc.js
  package.json
  test/typescript/no-prettier/lintme.ts
  test/typescript/prettier/lintme.ts
Due: balena-lint --fix, balena-lint --tests

Drop support for nodejs < 16.0.0
  package.json
  tsconfig.json
Due: none

delete the .eslintrc.js
  config/.eslintrc.js
Due: none

Update Prettier to v3
  lib/balena-lint.ts
  package.json
Due: balena-lint --fix

.eslintrc.js: Update rules to make the migration easier
  config/.eslintrc.js
Due: none

Drop the --no-prettier option and use a single config/.eslintrc.js
  .eslintrc.js
  README.md
  config/.eslintrc.js
  lib/balena-lint.ts
  package.json
  test/typescript/no-prettier/lintme.ts
Due: balena-lint --fix, balena-lint --tests

Relax the prefer-const rule in destructuring expressions
  config/.eslintrc.js
Due: none

no-unused-vars: Allow _ prefixed unused vars in destructured arrays
  config/.eslintrc.js
Due: none

Error when detecting unused eslint disable directives
  lib/balena-lint.ts
Due: balena-lint --fix

Allow using void as a way to silence floating promise errors
  config/.eslintrc.js
Due: none

Update @typescript-eslint packages to 6.6.0 to properly support TS 5.2
  package.json
Due: none

Block .only in tests by default using eslint-plugin-no-only-tests
  config/.eslintrc.js
  lib/balena-lint.ts
  lib/mocha-tests-lint.ts
  package.json
Due: balena-lint --fix

Add a deprecation notice for the --tests flag
  lib/balena-lint.ts
Due: balena-lint --fix

Update blob from 7.1.7 to 10.3.10
  lib/balena-lint.ts
  package.json
Due: balena-lint --fix

Add `no-constant-binary-expression` to list of rules
  config/.eslintrc.js
  package.json
Due: none

Update husky and lint-staged
  package.json
Due: none

Update yargs to 17.x
  lib/balena-lint.ts
  package.json
Due: balena-lint --fix

Add missing .husky/pre-commit file
  .husky/pre-commit
Due: none

Fix .eslintrc.js example in README.md
  README.md
Due: none

Update dependencies
  package.json
  test/typescript/prettier/lintme.ts
Due: balena-lint --fix, balena-lint --tests

Lint config/.eslintrc.js
  .lintstagedrc
  config/.eslintrc.js
  package.json
  tsconfig.json
Due: none

Enable @typescript-eslint/consistent-type-imports
  config/.eslintrc.js
  lib/balena-lint.ts
Due: balena-lint --fix

Bump typescript to 5.4.2
  package.json
Due: none

Raise the minimum required node version to 18.18.0 and npm version to 9.8.1
  package.json
Due: none

Bump @typescript-eslint/eslint-plugin and @typescript-eslint/parser
  package.json
Due: none

Update husky to v9
  .husky/pre-commit
  package.json
Due: none

Update dependencies
  package.json
Due: none

Path conditions:
  balena-lint --fix: any of: *.ts
  balena-lint --tests: any of: test/**/*.ts
